<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">
    Simple Crud diseñado por Ariel
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h1>Jugadores de Racing</h1>
      <ul class="list-group">
        <li *ngFor="let jugador of playerFootball" class="list-group-item list-group-item-action">
          <span class="badge badge-primary"> {{jugador.id}} </span>{{jugador.name}} - {{jugador.posicion}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="class-title">
            Inserta un nuevo Jugador
          </div>
          <div class="form-group">
            <input type="text" placeholder="Nombre" class="form-control">
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <img src="https://i.pinimg.com/originals/37/d5/ba/37d5ba39cdd1811d7f36c4ade7efa73c.png" width=300 alt="">
    </div>
  </div>
</div>